$fa-font-path : '../node_modules/font-awesome/fonts';

$mask-overlay-transition:     all .4s ease-in-out !default;


// Dividers colors
$hr-light:            #fff !default;
$hr-dark:             #666 !default;
$flex-center-ul-mb:   1rem !default;


/* $black-base: #000 !default;
$white-base: #fff !default; */